/* All editor elements */
.Editor {
  color: black;
  font-size: 10pt;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

/** Keep modal dialogs on top */
.modal {
  z-index: 2000;
}

/* Editor form elements */
.Editor .col-form-label-sm,
.Editor div.form-control-sm,
.Editor div.form-control-sm label,
.Editor input.form-control-sm,
.Editor select.form-select-sm,
.Editor textarea.form-control-sm,
.Editor .btn-sm {
  font-size: 10pt;
  line-height: 1.2em;
}

/* Editor checkbox container */
.Editor div.form-check {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 5px;
}

/* Editor check box baseline adjustment */
.Editor div.form-check .form-check-input {
  transform: translateY(2px);
}

/* Preserve active links when edit mode is enabled */
.SectionText a {
  pointer-events: auto;
}

/** Container for editor panels */
.EditorPanel {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Editor panel body */
.EditorPanel.Body {
  background-color: #e0e0e0;
  border: 1px solid #00000040;
  padding: 15px 10px 10px 10px;
}

/* Editor panel toggle button */
button.EditorToggle.btn.expanded,
button.EditorToggle.btn {
  color: black;
  background: transparent;
  border: none;
  border-radius: 0;
}

/* Headings in editor panels */
.Editor h5 {
  font-size: 13pt;
}


/* edit, commit and cancel buttons for editable fields */
div.EditButtons {
  position: absolute;
  right: 3px;
  top: 5px;
  display: flex;
}

/* All editing buttons */
button.EditButton {
  width: 25px;
  height: 25px;
  padding: 0;
}

/* Editor drop down menus */
div.dropdown-menu.Editor {
  background-color: white;
  padding: 10px 0;
  cursor: pointer;
  line-height: 200%;
}

/* Editor drop down menu items */
.Editor .dropdown-item {
  font-size: 12pt;
  color: black;
}

/* Editor drop down menu item hover */
.Editor .dropdown-item:hover {
  background-color: lightgray;
}

/* Button for add page dropdown, needs margin for hover */
button.AddPageButton {
  margin: 10px 0 10px 0;
}

/* Dropdown menu position next to NavBar to add page or page section */
.navbar-collapse div.AddPageMenu {
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}

/* Dropdown position in non-expanded state, sm breakpoint */
@media (max-width: 575px) {
  .navbar-expand-sm .navbar-collapse div.AddPageMenu {
    right: 0;
  }
}

/* Dropdown position in non-expanded state, md breakpoint */
@media (max-width: 767px) {
  .navbar-expand-md .navbar-collapse div.AddPageMenu {
    right: 0;
  }
}


/* Position dropdown menu for editing section contents */
.EditSectionMenu {
  position: absolute;
  top: 3px;
  right: 3px;
}

/* Placeholder for empty page elements */
.Editor.EmptyElement {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 12pt;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px dotted gray;
}

/* Drop file UI */
.Editor.DropFile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  background-color: #ffffff88;
  text-align: center;
  font-size: 14pt;
}

/* no margin for site editor */
.SiteEditor .EditorPanel {
  margin: 0;
}

/* no margin for page editor */
.PageEditor .EditorPanel {
  margin: 0;
}

/* Body of site editor */
.SiteEditor .EditorPanel.Body {
  padding: 0;
  border: none;
  border-right: 1px solid #00000040;
}

/* Body of page editor */
.PageEditor .EditorPanel.Body {
  padding: 20px 10px 10px 15px;
  border: none;
  border-bottom: 1px solid #00000040;
}

/* Outline editor inside site editor */
.Editor.OutlinePanel {
  padding: 25px 10px 10px 15px;
}

/* Site properties slide up panel within site editor */
.SiteEditor .EditorPanel.Body .EditorPanel.Body {
  padding: 20px 10px 10px 15px;
  border: none;
  border-top: 1px solid #00000040;
}

/* Page editor toggle arrow collapsed */
.PageEditor .EditorToggle.collapsed {
  color: white;
  filter: drop-shadow(0px 1px black);
}

/* Site editor toggle arrow collapsed */
.SiteEditor .EditorToggle.collapsed.vertical {
  color: white;
  filter: drop-shadow(1px 0px black);
}

/* Outline editor item */
.OutlineItem {
  padding: 2px 5px;
}

/* Active item in outline editor */
.OutlineItem.active {
  background-color: #00000020;
}