/* Admin form elements */
.col-form-label-sm,
div.form-control-sm,
div.form-control-sm label,
input.form-control-sm,
select.form-select-sm,
textarea.form-control-sm,
.btn-sm {
  font-size: 10pt;
}

/* Editing drop down menus */
.Editor .dropdown-item {
  font-size: 12pt;
}

/* Headings in edit panels */
.Editor h5 {
  font-size:13pt;
}

/* Admin panel padding */
.Editor .accordion-body {
  padding: 10px;
}

.Editor {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}