/* Add a red asterisk after the label of a required input */
label:has(+ input:required)::after,
label.required::after {
    content: " *";
    color: red;
    font-weight: bold;
    font-size: 16pt;
}