/* Admin form elements */
.Editor .col-form-label-sm,
.Editor div.form-control-sm,
.Editor div.form-control-sm label,
.Editor input.form-control-sm,
.Editor select.form-select-sm,
.Editor textarea.form-control-sm,
.Editor .btn-sm {
  font-size: 10pt;
  line-height: 1.2em;
}

/* Preserve active links when editing */
.SectionText a {
  pointer-events: auto;
}

/* Editing drop down menus */
.Editor .dropdown-item {
  font-size: 12pt;
  color: black;
}

/* File drop and uploading prompts */
.Editor.DropFile {
  font-size: 14pt;
}

/* Empty elements like page sections and galleries */
.Editor.EmptyElement {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 12pt;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px dotted gray;
}

.Editor div.form-check {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 5px;
}

.Editor div.form-check .form-check-input {
  transform: translateY(2px);
}

button.EditButton {
  width: 25px;
  height: 25px;
  padding: 0;
}

div.dropdown-menu.Editor {
  background-color: white;
  padding: 10px 0;
  cursor: pointer;
  line-height: 200%;
}

.Editor .dropdown-item:hover {
  background-color: lightgray;
}

/* Headings in edit panels */
.Editor h5 {
  font-size: 13pt;
}

/* Admin panel */
.Editor {
  color: black;
  font-size: 10pt;
  font-weight: normal;
}

/* all editor toggles */
button.EditorToggle.btn.expanded,
button.EditorToggle.btn {
  color: black;
  background: transparent;
  border: none;
  border-radius: 0;
}

button.EditorToggle {
  background-color: transparent;
}

/* all toggle arrows */
.EditorToggle {
  color: black;
}

/* page editor toggle arrow collapsed */
.PageEditor .EditorToggle.collapsed {
  color: white;
  filter: drop-shadow(0px 1px black);
}

/* site editor toggle arrow collapsed */
.SiteEditor .EditorToggle.collapsed {
  color: white;
  filter: drop-shadow(1px 0px black);
}

.OutlineItem {
  padding: 2px 5px;
}

.OutlineItem.active {
  background-color: #00000020;
}

.ToggleBar {
  background-color: #00000022;
}

.Editor {
  font-family: Arial, Helvetica, sans-serif;
}

.Editor.DropFile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  background-color: #ffffff88;
  text-align: center;
}