/* Guest book form elements (large form) */
.GuestBook .col-form-label,
.GuestBook .form-label,
.GuestBook label.form-check-label,
.GuestBook div.form-control,
.GuestBook input.form-control,
.GuestBook input.form-control.phone,
.GuestBook select.form-control,
.GuestBook textarea.form-control,
.GuestBook .btn {

}

/* Admin form elements (small form) */
.GuestBook .col-form-label-sm,
.GuestBook div.form-control-sm,
.GuestBook div.form-control-sm label,
.GuestBook input.form-control-sm,
.GuestBook select.form-control-sm,
.GuestBook textarea.form-control-sm,
.GuestBook .btn-sm {
  line-height:1.2;
}

/* Extra style for phone and fields */
.GuestBook input.form-control.phone,
.GuestBook li.country {
}

/* checkbox height adjustment */
.GuestBook input.form-check-input {
}

/* small checkbox height adjustment */
.GuestBook div.form-control-sm input.form-check-input {
}

/* Guest book submit button */
.GuestBook button.btn.btn-primary,
.GuestBook input.btn.btn-primary {
  background-color: #f26222;
  border-color: #f26222;
  color: white;
}

/* Guest book submit hover */
.GuestBook button.btn.btn-primary:hover,
.GuestBook input.btn.btn-primary:hover {
  background-color: #fb7538;
  border-color: #fb7538;
  color: white;
}

/* Guest book submit pressed */
.GuestBook button.btn.btn-primary:active,
.GuestBook input.btn.btn-primary:active {
  background-color: #d5561d;
  border-color: #d5561d;
  color: white;
}

div.GuestBook {
  margin-bottom: 10px;
}

/* bootstrap xs width */
@media (max-width: 575px) {

}

/* bootstrap sm width */
@media (min-width: 576px) {

}

/* bootstrap md width */
@media (min-width: 768px) {

}

/* bootstrap lg width */
@media (min-width: 960px) {

}

/* bootstrap xl width */
@media (min-width: 1140px) {

}