/* Guest book form elements (large form) */
.col-form-label,
.form-label,
label.form-check-label,
div.form-control,
input.form-control,
input.form-control.phone,
select.form-control,
textarea.form-control,
.btn {

}

/* Admin form elements (small form) */
.col-form-label-sm,
div.form-control-sm,
div.form-control-sm label,
input.form-control-sm,
select.form-control-sm,
textarea.form-control-sm,
.btn-sm {
  line-height:1.2;
}

/* Extra style for phone and fields */
input.form-control.phone,
li.country {
}

/* checkbox height adjustment */
input.form-check-input {
}

/* small checkbox height adjustment */
div.form-control-sm input.form-check-input {
}

/* Guest book submit button */
button.btn.btn-primary,
input.btn.btn-primary {
  background-color: #f26222;
  border-color: #f26222;
  color: white;
}

/* Guest book submit hover */
button.btn.btn-primary:hover,
input.btn.btn-primary:hover {
  background-color: #fb7538;
  border-color: #fb7538;
  color: white;
}

/* Guest book submit pressed */
button.btn.btn-primary:active,
input.btn.btn-primary:active {
  background-color: #d5561d;
  border-color: #d5561d;
  color: white;
}