div.Gallery {
  width: 100%;
  padding: 0;
}

.image-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.image-grid-container img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  max-height: 300px;
}
